.home{
   text-align: left;
   width: 89px;
   height: 24px;
   margin-bottom: 16px;
   margin-left: 16px;
   margin-top: 16px;
   white-space: nowrap;
}
.card-row{
   margin-left: 16px;
   display: flex; /* Change to flex display */
   gap: 1.2rem;
   overflow-x: auto;
   &::-webkit-scrollbar{
    width: 0;
   }
}
.button-component{
   margin-top: 16px;
   margin-left: 16px;
   margin-right: 12px;
   display: flex; /* Change to flex display */
   gap: 1.2rem;
   overflow-x: auto;
}
.event{
   width: 150px;
   margin-left: 14px;
   white-space: nowrap;
   margin-bottom: 16px;
   margin-top: 32px;
}
.total{
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
}
.button-row {
   margin-left: 16px;
    display: grid;
   grid-auto-flow: column;
   gap: 0.75rem;
   overflow-x: auto; 
   overscroll-behavior-x: contain; 
   scroll-snap-type: x mandatory;
    scrollbar-width: none;
   scrollbar-color: transparent;
   font-size: 16px;
 }
 @media (min-width: 768px) {
   .body{
      margin-left: 108px;
      margin-right: 108px;
    }
    .home{
      font-size: 20px;
      font-weight: 300;
      
    }
    .event{
      font-size: 20px;
      width: 167px;
      height: 27px;
    }
    .button-row{
      width: 430px;
    }
 }
