.button-style{
    background-color: #1E1D23;
    border: 0px;
    color: #6B6A6E;
    height: 34px;
    border-radius: 5px;

}
.button-style:hover,
.button-style.selected {
  background-color: #026CDF;
  color: #fff; 
   border: 0px;
}


.button-style:onClick{
    background-color: #026CDF;
    border: 0px;
    color: #fff;
}

.button-style:active{
    background-color: #026CDF;
    border: 0px;
    color: #fff;
}


