.eventInfo-card{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  color:  #FFFFFF;
}
.bcg-img{
    height: 585px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: linear-gradient(to bottom, black, transparent 80%);
   overflow: hidden;
}
.part1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 16px;
}
.row2{
  height: 385px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  margin-top: 200px;
}

.backBtn{
    background: rgba(255, 255, 255, 0.1);
    width: 42px;
    height: 42px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.back-icon {
    width: 24px;
    height: 24px;
  }
.concert-name{
    margin-left: 134px;
    margin-top: 17px;
  }

.event-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 16px;
  margin-right: 17px;
  width: 90%;
  }
  
  .eventPrice{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  height: 36px;
  width: 76px;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #2C2C2C !important;
  }

  .calendar{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 16px;
  margin-right: 156px;
  }

  .icon{
    background: rgba(255, 255, 255, 0.1);
    width: 42px;
    flex-shrink: 0;
    height: 42px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
  }
  
.month{
    text-align: left;
  font-size: 16px;
  }

.hr1{
  margin: 0px;
  margin-left: 24px;
  margin-right: 24px;
  height: 41px;
  display: block;
  }
  
  .time{
    text-align: left;
    font-size: 16px;
    width: 90px;
  }
  
  .location{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 156px;
  }

  .icon2{
    background: rgba(255, 255, 255, 0.1);
  width: 42px;
  flex-shrink: 0;
  height: 42px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-right: 24px;
  }

  .info{
    margin-top: 18px;
    font-size: 16px;
  }

  .ticket{
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 16px;
  margin-right: 156px;
  text-align: left;
  }
  .icon3{
    background: rgba(255, 255, 255, 0.1);
    width: 42px;
    flex-shrink: 0;
    height: 42px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-right: 24px;
  }
  .info-ticket{
    margin-top: 18px;
    font-size: 16px;
    white-space: nowrap;
  
    text-overflow: ellipsis;
  }
  .part2{
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .about{
    text-align: left;
  }
  .about-text{
    text-align: left;
    margin-bottom: 55px;
  }
  .ticketBtn{
    background-color: #026cdf;
  border-radius: 5px;
  width: 396px;
  height: 48px;
  border: none;
  color: white;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  
  }

  .ticketIcon{
  margin-right: 8px;
  margin-top: 17px;
  margin-bottom: 12px;
  }
  .text-t{
    margin-top: 12px;
  margin-bottom: 12px;
  }


  @media (min-width: 768px) {
    .row1{
      margin-left: 109px;
    }
    .concert-name{
      margin-left: 480px;
      font-size: 18px;
      display: flex;
    }
    .row2{
      margin-left: 109px;
      height: 385px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      margin-top: 150px;
    }
    .hr1{
      rotate: 90deg;
      width: 0px;
      height: 6px;
    }
    .eventPrice{
      width: 82px;
      height: 36px;
      font-size: 16px;
      
    }
    .dave{
      font-size: 24px;
    }
    .event-web{
      display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .part2{
      margin-left: 125px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .about-text{
      width: 569px;
      font-size: 16px;
      height: 88px;
    }
   .buy-ticket{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 140px;
    width: 298px;
   }
   .bcg-img{
    mask-image: linear-gradient(to bottom, black, transparent 100%);
   }
   .br{
    display: none;
   }
   
   .month{
    font-weight: 10;
    
   }
   .time{
    width: 160px;
   }
   
   .calendar{
    margin-right: 60px;
    align-items: center;
    font-size: 16px;
   }
   .location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
   }
   .ticket{
    font-size: 16px;
    margin-bottom: 15px;
   }
   .no-strong{
    font-weight: normal;
   }
  }