.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.app{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 16px;
    margin-top: 25px;
}

.profile-info{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    align-items: center;
}
.profile{
    border-radius: 57px;
    width: 29px;
    height: 29px;
    margin-right: 16px;
    margin-left: 8px;
    object-fit: cover;
}
hr{
    color: transparent;
    height: 0px;
    display: none;
    opacity: 0.1;
}

@media (min-width: 768px) {
    .container {
     align-items: center;
}
.profile{
    width: 42px;
    height: 42px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 8px;
    border-radius: 21px;
}
.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
     align-items: center;
     color: white;
     margin-bottom: 32px;
     display: block;
}
}