.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.appname{
    color: white;
    margin-left: 16px;
    margin-top: 25px;
}

.profile-info{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row;
}
.profile{
    border-radius: 57px;
    width: 29px;
    height: 29px;
    margin-top: 24px;
    margin-right: 16px;
    object-fit: cover;
}
.name{
    width: 34px;
    height: 22px;
    color: white;
    margin-top: 28px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: normal;
}
hr{
    color: transparent;
    height: 0px;
    display: none;
    opacity: 0.1;
}

@media (min-width: 1000px) {
    .container {
     align-items: center;
}
.appname{
    font-size: 20px;
    margin-right: 158px;
}
.name{
    font-size: 18px;
}
.profile{
    width: 42px;
    height: 42px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 8px;
    border-radius: 21px;
}
.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
     align-items: center;
     color: white;
     margin-bottom: 32px;
     display: block;
}
}